[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/bin/bash -l /home/pi/sweetyaar/start_sweetyaar.bash
WorkingDirectory=/home/pi/sweetyaar
StandardOutput=inherit
StandardError=inherit
User=pi
Restart=no
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=multi-user.target