<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sweet Yaar Control Panel</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="/static/index.css">
    <style>
        body {
            background: url('/static/{{background_wide}}') no-repeat center center fixed;
            background-size: cover;
        }

        @media only screen and (max-width: 950px) {
            body {
                background: url('/static/{{background_narrow}}') no-repeat center center fixed;
                background-size: cover;
            }
        }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 top-panel">
                <form action="/actions/override-nighttime" method="post">
                    <button type="submit" class="btn btn-link btn-lg" value="submit">
                        <i class="bi bi-moon-stars-fill {{'active' if time_of_day == 'nighttime'}}"></i>
                    </button>
                </form>
            </div>
            <div class="col-xs-1 top-panel">
                <form action="/actions/override-daytime" method="post">
                    <button type="submit" class="btn btn-link btn-lg" value="submit">
                        <i class="bi bi-sun-fill {{'active' if time_of_day == 'daytime'}}"></i>
                    </button>
                </form>
            </div>
            <div class="col-xs-8">
                <div class="yaar-header">Sweet Yaar</div>
            </div>
            <div class="col-xs-1 top-panel">
                <form action="/actions/reboot" method="post">
                    <button type="submit" class="btn btn-link btn-lg reboot-button" value="submit">
                        <i class="bi bi-bootstrap-reboot"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-3">
                <form id="random-animal-sound-form" action="/actions/random-animal-sound" method="post">
                    <button type="submit" class="btn btn-primary btn-lg" form="random-animal-sound-form" value="submit">
                        <i class="bi bi-shuffle"></i>
                        Play Animal Sound
                    </button>
                </form>
            </div>
            <div class="col-xs-12 col-md-3">
                <form id="random-song-form" action="/actions/random-song" method="post">
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="bi bi-music-note-beamed"></i>
                        Play a Song
                    </button>
                </form>
            </div>
            {% if currently_playing %}
            <div class="col-xs-12 col-md-3 text-center h3">
                <p><b>Currently playing:</b> {{currently_playing}}</p>
            </div>
            {% endif %}
            <div class="col-xs-12 col-md-3">
                <div class="row">
                    <div class="col-xs-4">
                        <form id="volume-down-form" action="/actions/volume-down" method="post">
                            <button type="submit" class="btn btn-primary btn-lg" form="volume-down-form" value="submit">
                                <i class="bi bi-volume-down-fill"></i>
                            </button>
                        </form>
                    </div>
                    <div class="col-xs-4 text-center" style="line-height: 3em">
                        <span class="badge rounded-pill bg-light text-dark"
                            style="font-size: 2em">{{volume_level}}</span>
                    </div>
                    <div class="col-xs-4">
                        <form id="volume-up-form" action="/actions/volume-up" method="post">
                            <button type="submit" class="btn btn-primary btn-lg" form="volume-up-form" value="submit">
                                <i class="bi bi-volume-up-fill"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <form id="stop-playing-form" action="/actions/stop-playing" method="post">
                    <button type="submit" class="btn btn-warning btn-lg" form="stop-playing-form" value="submit">
                        <i class="bi bi-stop-fill"></i>
                        Stop Playing
                    </button>
                </form>
            </div>
            <div class="col-xs-12 col-md-6">
                <form id="kill-switch-form" action="/actions/kill-switch" method="post">
                    <button type="submit" class="btn btn-danger btn-lg" form="kill-switch-form" value="submit">
                        <i class="bi bi-radioactive"></i>
                        Kill Switch<br />
                        <h5>Stops playing and doesn't respond for 5 minutes</h5>
                        {% if kill_switch_until %}
                        <h5>Activated until {{kill_switch_until}}</h5>
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>