<!doctype html>
<html lang="en">

<head>
    <!-- Bootstrap CSS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sweet Yaar Control Panel</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <style>
        .active-daytime {
            color: gold;
        }
    </style>

</head>

<body
    style="background-image: url('https://us.123rf.com/450wm/tkuzminka/tkuzminka1903/tkuzminka190300017/124358896-seamless-cute-children-pattern-cute-baby-stars-heart-background-creative-night-style-kid-light-pink-.jpg?ver=6');">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <div class="container pt-5">

        <div class="jumbotron text-center my-5">
            <h1 class="display-1"
                style="text-shadow: 5px 5px 10px whitesmoke, 5px -5px 10px whitesmoke, -5px 5px 10px whitesmoke, -5px -5px 10px whitesmoke">
                Sweet Yaar!</h1>
            <hr class="my-6">
        </div>
        <div class="row mb-2">
            <div class="col-5 h-100 text-center">
                <div class="input-group input-group-lg">
                    <button type="submit" form="form-override-nighttime" class="form-control btn btn-primary btn-lg">
                        <i class="bi bi-moon-stars-fill {{'active-daytime' if time_of_day == 'nighttime'}}"></i>
                    </button>
                    <button type="submit" form="form-override-daytime" class="form-control btn btn-primary btn-lg">
                        <i class="bi bi-sun-fill {{'active-daytime' if time_of_day == 'daytime'}}"></i>
                    </button>
                </div>
            </div>
            <div class="col-5 h-100 text-center">
                <div class="input-group input-group-lg">
                    <button type="submit" form="form-volume-down" class="form-control btn btn-primary btn-lg">
                        <i class="bi bi-volume-down-fill"></i>
                    </button>
                    <span class="input-group-text">{{volume_level}}</span>
                    <button type="submit" form="form-volume-up" class="form-control btn btn-primary btn-lg">
                        <i class="bi bi-volume-up-fill"></i>
                    </button>
                </div>
            </div>
            <div class="col-2 h-100 text-center">
                <button type="submit" form="form-reboot" class="btn btn-danger btn-lg h-100 w-100">
                    <i class="bi bi-bootstrap-reboot h-100 w-100"></i>
                </button>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col text-center">
                <button type="submit" form="form-random-animal-sound" class="btn btn-primary btn-lg h-100 w-100">
                    <i class="bi bi-shuffle"></i>
                    Play Animal Sound
                </button>
            </div>
            <div class="col text-center">
                <button type="submit" form="form-random-song" class="btn btn-primary btn-lg h-100 w-100">
                    <i class="bi bi-music-note-beamed"></i>
                    Play a Song
                </button>
            </div>
        </div>

        {% if currently_playing %}
        <div class="row mb-2">
            <p class="display-6 lead">
                <b>Currently playing:</b> {{currently_playing}}
            </p>
        </div>
        {% endif %}


        <div class="row mb-2">
            <div class="col text-center">
                <button type="submit" form="form-stop-playing" class="btn btn-warning btn-lg h-100 w-100">
                    <i class="bi bi-stop-fill"></i>
                    Stop Playing
                </button>
            </div>
            <div class="col text-center">
                <button type="submit" form="form-kill-switch" class="btn btn-danger btn-lg h-100 w-100">
                    <i class="bi bi-radioactive"></i>
                    Kill Switch
                    <div style="font-size: 0.75em">Stops playing and doesn't respond for some time</div>
                    {% if kill_switch_until %}
                    <div style="font-size: 0.75em">Activated until {{kill_switch_until}}</div>
                    {% endif %}

                </button>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12 h-100 text-center">
                <img src="/static/{{yaars_photo}}" class="img-fluid w-100 h-100 border border-5 border-primary"
                    style="border-radius: 5%">
            </div>
        </div>

        <p>{{current_time}}</p>
    </div>


    <form id="form-override-nighttime" action="/actions/override-nighttime" method="post"></form>
    <form id="form-override-daytime" action="/actions/override-daytime" method="post"></form>
    <form id="form-reboot" action="/actions/reboot" method="post"></form>
    <form id="form-random-animal-sound" action="/actions/random-animal-sound" method="post"></form>
    <form id="form-random-song" action="/actions/random-song" method="post"></form>
    <form id="form-volume-down" action="/actions/volume-down" method="post"></form>
    <form id="form-volume-up" action="/actions/volume-up" method="post"></form>
    <form id="form-stop-playing" action="/actions/stop-playing" method="post"></form>
    <form id="form-kill-switch" action="/actions/kill-switch" method="post"></form>

</body>

</html>