.yaar-header {
    font-size: 5em;
    color: #21329d;
    text-shadow: #ffc1008c 4px 4px 4px;
    font-family: fantasy;
    font-weight: bold;
    text-align: center;
}

.btn {
    width: 100%;
}

.row {
    margin-bottom: 0.5em;
}

.top-panel {
    line-height: 6em;
}

.top-panel i {
    font-size: 3em;
    color: gray;
}

.top-panel i.active {
    color: gold
}

.reboot-button i {
    color: red;
}